<h1>Buscando: {{ termino }}</h1>
<hr>

<div class="row">
    <div class="row">                                            

        <div *ngIf="heroe.length === 0">
            <div class="alert alert-info" role="alert">
            No hay resultados para la búsqueda
            </div>
        </div>

        <div class="col-md-4 border" *ngFor="let heroe of heroe; let i = index">
            <img class="card-img-top img-fluid" [src]="heroe.img" [alt]="heroe.nombre">
            <div class="card-block">
                <h5 class="card-title">{{ heroe.nombre }}</h5>
                <p class="card-text"> {{ heroe.bio }}</p>
                <p class="card-text"><small class="text-muted"> {{ heroe.aparicion }}</small></p>
<!--                 <button type="button" class="btn btn-outline-primary btn-block">Ver más...</button> -->
                <a [routerLink]="['/heroe', i]" class="btn btn-outline-primary">Ver más link...</a>

              </div>
        </div>

    </div>
</div>